// stylus -w style.styl -o style.css

tabColorBG = rgb(5, 15, 5)
tabHighlightBG = rgb(18, 19, 29)
tabColorText = rgb(0, 255, 0)
tabHighlightText = rgb(158, 255, 158)
tabColorBorder = rgb(0, 55, 0)
tabHighlightBorder = rgb(107, 138, 89)


body
    display flex
    justify-content center
    align-items center
    width 100vw
    height 100vh
    margin 5px 5px 5px 5px
    padding 0
    overflow hidden
    background black

.tab
    display flex
    flex-direction column
    height 98%

.tab_buttons
    display flex
    list-style-type none
    padding 0
    margin 0
    button
        background tabColorBG
        border 2px solid tabColorBorder
        color tabColorText
        &:hover
            background tabHighlightBG
            border 2px solid tabHighlightBorder
            color tabHighlightText
            cursor pointer
    
    

.table_container
    display none
    list-style-type none
    flex-direction column
    align-items left
    height calc(100vh - 20px)
    width calc(100vw - 20px)
    outline 2px solid tabColorBorder
    background tabColorBG
    box-sizing border-box
    padding 10px
    margin 0
    overflow-y auto
    overflow-x hidden
    .tables
        color tabColorText
        margin-bottom 20px
        &:hover
            background tabHighlightBG
            outline 2px solid tabHighlightBorder
            color tabHighlightText
            cursor pointer
        .tableRows
            display none
            width 100%
            color white
            border-bottom 1px solid tabColorBorder
            .tableKeyCell, .tableValueCell
                width 50%
                padding 0
                margin 0

#registration_container // This is what is shown by default.
    display flex
    color tabColorText

h4, h3
    margin 0
    padding 0

.emailButton
    display none
    color tabColorText
    background-color tabColorBG