tabColorBG = rgb(5, 15, 5)
tabHighlightBG = rgb(18, 19, 29)
tabColorText = rgb(0, 255, 0)
tabHighlightText = rgb(158, 255, 158)
tabColorBorder = rgb(0, 55, 0)
tabHighlightBorder = rgb(107, 138, 89)


body
    display flex
    justify-content center
    align-items center
    width 100vw
    height 100vh
    margin 0
    padding 0
    overflow hidden
    background black

.tab
    display flex
    flex-direction column

.tab_buttons
    display flex
    list-style-type none
    padding 0
    margin 0
    button
        background tabColorBG
        border 2px solid tabColorBorder
        color tabColorText
        &:hover
            background tabHighlightBG
            border 2px solid tabHighlightBorder
            color tabHighlightText
            cursor pointer
    
    

.row_container
    display none
    list-style-type none
    flex-direction column
    align-items center
    height calc(100vh - 20px)
    width calc(100vw - 20px)
    outline 2px solid tabColorBorder
    background tabColorBG
    box-sizing border-box
    padding 10px
    margin 0
    overflow-y auto
    overflow-x hidden
    .rows
        width 100%
        height auto
        color tabColorText
        margin-bottom 20px
        padding-left 5px
        align-content center
        &:hover
            background tabHighlightBG
            outline 2px solid tabHighlightBorder
            color tabHighlightText
            cursor pointer
        .rowDetails
            // width 100%
            // display block
            color white
            p
                margin 0
                padding 0

#student_container
    display flex